button {
    border: 2px solid;
    border-radius: 8px;
    @include fontSize(30);
    font-weight: 700;
    padding: 10px;
    width: 50%;
}

.getThePokemon {
    background-color: yellow;    
    color: #12314d;
    margin-top: 20px;

    &:hover,
    &:focus {
        color: red;        
    } 
}

.randomButton {
    background-color:red;
    color:white;
    border:none;
    margin-bottom: 40px;

    &:hover,
    &:focus {
        color: black;
        border: 1px solid black;
    }
}
