button{
    background-color: yellow;
    border:2px solid;
    border-radius: 8px;
    color: #12314d;
    font-size:18px;
    font-weight: 700;
    padding:10px;

    &:hover,
    &:focus {
        color: red;        
    } 
}

.randomButton {
    margin-top: 5vh;
    background-color:red;
    color:white;
    border:none;

    &:hover,
    &:focus {
        color: black;
        border: 1px solid black;
    }
}