button{
    background-color: yellow;
    border:2px solid;
    border-radius: 8px;
    color: #12314d;
    font-size:18px;
    font-weight: 700;
    padding:10px;
    font-family: 'Pokemon Solid', sans-serif;
}

#uglyRandom {
    margin-top: 5vh;
    background-color:red;
    color:white;
    border:none;
}