.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

body {
    background-image: url('./../assets/bodyBackground.jpeg');
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poor Story', cursive;
    height: 130vh; 
    @include fontSize(30);
}


#uglyName {
    text-transform: capitalize;
    font-family: 'Bebas Neue', regular;
    color: red;
    @include fontSize(60);
}

.listOfInstruction {
    list-style-type: square;
    @include fontSize(32);
    font-weight: 700;

    li {
        margin-top: 10px;
        span {
                display: flex;
                flex-direction: column;        
            }
    }
   
}

.searchBar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; 
    
    input {
        padding: 10px;
        text-align: center;
        border: none; 
        border-radius: 8px;
        @include fontSize(25);
        float: left;

        &:hover,
        &:focus {
            color: red;
            border: 2px solid;
        }
    }
}

.contentContainer {
    margin: 80px auto 50px;
    height: 40vh;
    width: 50%;    
    border:5px groove red;
    border-radius: 12px;
    opacity: 90%;
    padding-top: 25px;
    
    .imageContainer {
        height: 200px;        

        img {
            width: 250px;
            height: 200px;
            
        }
    }

}

