.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

body {
    background-image: url('./../assets/bodyBackground.jpeg');
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poor Story', cursive;
    height: 100vh;   
}

// .contentContainer 
#uglyName {
    text-transform: capitalize;
    font-family: 'Bebas Neue', regular;
    color: red;
    font-size: 40px;
}

.searchBar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;    
    
    input {
        width: 300px;
        padding: 10px;
        text-align: center;
        border: none; 
        border-radius: 8px;

        &:hover,
        &:focus {
            color: red;
            border: 2px solid;
        }
    }
}

.contentContainer {
    margin: 80px auto 50px;
    height: 40vh;
    width: 50%;    
    border:5px groove red;
    border-radius: 12px;
    opacity: 90%;
    padding-top: 25px;
    position: relative;
    
    .imageContainer {
        height: 200px;        

        img {
            width: 250px;
            height: 200px;
            
        }
    }

    .randomButton {
        height: 50px;
        padding: 0 20px;
        margin-bottom: 80px;
        margin: 0 auto;
        position: absolute;
    }
}

