.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

body {
    font-family: 'Pokemon Solid', sans-serif;
    background-image: url('./../assets/bodyBackground.jpeg');
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: red;
    font-size: 100px;
}

h2{
    color:red;
}

.tip{
    color:#ffcb05;
    font-size:25px;
    font-stretch:normal;
}

.searchBar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    
    input {
        width: 300px;
        padding: 10px;
        text-align: center;
        border:none; 
        border-radius:8px;
    }
}

.contentContainer {
    margin:70px auto;
    height: 30vh;
    width:550px;
    border:5px groove red;
    border-radius: 12px;
    opacity: 90%;
}

