.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

body {
    font-family: 'Pokemon Solid', sans-serif;
}

h1 {
    color: red;
    text-align: center;
}

.searchBar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;    
    
    input {
        width: 40%;
        padding: 10px 0;
        text-align: center;
    }
}

.contentContainer {
    border: 2px solid black;
    height: 50vh;
}

