/* Bigger desktops 1280*760 */
@media (max-width: 1280px) {
    body{
        height:190vh;
    }
    // h1{
    //     padding-top:15rem;
        
    // }
    
    .contentContainer{
        // height:50vh;
        padding-top:0;
        padding-bottom: 0;
        margin-top:20px;
        margin-bottom: 20px;
    }
}

/* Portrait tablet and small desktops  1024*768 */
@media (max-width: 1024px) {
    
    body{
        height:190vh;
        
        .wrapper{
        width:100%;
        }
    }
    h1{
        // margin-top:10rem;
        margin-bottom: 0;
    }
    h2{
        margin-top:0; 
    }
}

/* Landscape phone to portrait tablet 768*896*/
@media (max-width: 768px) {
    body {
        height: 170vh;
        .wrapper {
            width: 80%;
        } 
    }
    .instruction,
    .searchBar,
    .contentContainer,
    .randomUglyButton{
        width:100%;
    }
    .searchBar,
    .randomUglyButton{
        margin: 0 auto;
    }

    .searchBar {
        input{
            width: 100%;
        }
    }
    button{
        width:100%;
    }
    #uglyName{
        padding-top: 20px;
    }
}

/* Landscape phones and down 480*896 */
@media (max-width: 480px) {
    body{
        height: 170vh;
        .wrapper{
            width:98%;
        }
    }
    h1{
        // padding-top:16rem;
        @include fontSize(90);
    }
    .instruction,
    .searchBar,
    .contentContainer,
    .randomUglyButton {
        width: 95%;
    }
    .listOfInstruction{
        width:100%;
        padding-left: 15px;
    }
    .searchBar,
    .randomUglyButton {
        margin: 0 auto;
    }
    .searchBar{
        input{
            width:100%;
        }
    }
    button{
        width:100%;
        }
    }


