// title
h1 {
    color: red;
    font-size: 100px;
    font-family: 'Pokemon Solid', sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

// subtitle
.tip {
    color: #ffcb05;
    font-weight: 400;
    font-size: 50px;
    font-stretch: normal;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}